{extend name="layouts/master"}
{block name="title"}{$title}{/block}
{block name="content"}
<div class="apple-search-box">

</div>

<div class="btn-group" style="margin-bottom: 15px;">
    <a class="btn btn-sm btn-outline-primary" href="{:url('group/add')}">添加</a>
    <a class="btn btn-sm btn-outline-info" href="javascript:;" onclick="refreshVideo();">刷新</a>
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>分组目录</th>
        <th>分组名称</th>
        <th>操作</th>
    </tr>
    {volist name="groups" id="group"}
    <tr>
        <td>{$group.id}</td>
        <td>{:str_repeat('├', $group['depth'])} {$group.name}</td>
        <td>{$group.display_name}</td>
        <td>
            <a class="btn btn-sm btn-secondary" href="{:url('group/update', ['id' => $group['id']])}">
                <i class="fa fa-edit"></i> 编辑
            </a>
            <a class="btn btn-sm btn-danger" href="{:url('group/delete')}?ids={$group.id}">
                <i class="fa fa-trash"></i> 删除
            </a>
        </td>
    </tr>
    {/volist}
</table>
{/block}

{block name="js"}
<script>
    function refreshVideo() {
        $.ajax({
            url: "{:url('task/autofill')}",
            dataType: 'json',
            success: function(res) {
                alert(res.msg)
            },
            error: function() {
                alert('请求发生错误')
            }
        })
    }
</script>
{/block}