{extend name="layouts/master"}
{block name="title"}{$title}{/block}
{block name="content"}
<div class="apple-panel">
    <p>
        类目：
        {if condition="$group"}
        {$group.apple_nav}
        {/if}
    </p>
</div>
<table class="table">
    <tr>
        <th>课 程</th>
    </tr>
    {volist name="videos" id="video"}
    <tr data-href="{:url('index/video', ['id' => $video['id']])}" onclick="openvideo(this)" style="color:#3d6cb9;cursor: pointer;">
        <td>{$video.name}</td>
    </tr>
    {/volist}
</table>
<div class="apple-page">
    {$videos->render()}
</div>
<style>
    th{
        font-weight:normal;
    }
</style>
{/block}
{block name="js"}
<script>
    function openvideo(el) {
        window.open($(el).data('href'))
    }
</script>
{/block}