<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登 录</title>
    <link href="__PUBLIC__/assets/style/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container-fluid">
    <div class="login-box">
        <form method="post">
            <div class="form-group row">
                <label class="col-form-label col-sm-2" for="user">用户名：</label>
                <div class="col-sm-10">
                    <input type="text" name="user_name" id="user" class="form-control" placeholder="用户名/邮箱/手机号">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-2" for="password">密码：</label>
                <div class="col-sm-10">
                    <input type="password" name="password" id="password" class="form-control">
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">登 录</button>
        </form>
    </div>
</div>
</body>
</html>