{extend name="layouts/master"}
{block name="title"}{$title}{/block}
{block name="content"}
<form method="post" onsubmit="submitForm()">
    <div class="form-group row">
        <label class="col-form-label col-sm-1" for="user-name">用户名</label>
        <div class="col-sm-10">
            <input type="text" name="user_name" id="user-name" class="form-control" placeholder="用户名" value="{$user.user_name}">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-1" for="password">密码</label>
        <div class="col-sm-5">
            <input type="password" name="password" id="password" class="form-control" placeholder="密码">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-1" for="password-confirm">确认密码</label>
        <div class="col-sm-5">
            <input type="password" name="password-confirm" id="password-confirm" class="form-control" placeholder="确认密码">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-1" for="phone">手机号</label>
        <div class="col-sm-3">
            <input type="text" name="phone" id="phone" class="form-control" placeholder="手机号" value="{$user.phone}">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-1" for="email">电子邮箱</label>
        <div class="col-sm-10">
            <input type="text" name="email" id="email" class="form-control" placeholder="电子邮箱" value="{$user.email}">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-1" for="status">状态</label>
        <div class="col-sm-3">
            <select name="status" id="status" class="form-control">
                <option value="normal" {if condition="$user['status'] == 'normal'"}selected{/if}>正常</option>
                <option value="forbiden" {if condition="$user['status'] == 'forbiden'"}selected{/if}>禁止</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-1" for="type">用户类型</label>
        <div class="col-sm-2">
            <select name="type" id="type" class="form-control">
                <option value="0" {if condition="$user['type'] == 0"}selected{/if}>普通用户</option>
                <option value="1" {if condition="$user['type'] == 1"}selected{/if}>管理员</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-1">权限</label>
        <div class="col-sm-10">
            <div id="group-tree"></div>
        </div>
        <input type="hidden" id="privilleges" name="privilleges" value="{$pril_ids}">
    </div>
    <div class="form-group row">
        <div class="col-sm-10 offset-sm-1">
            <button type="submit" class="btn btn-sm btn-primary">提 交</button>
            <button type="reset" class="btn btn-sm btn-warning">重 置</button>
        </div>
    </div>
</form>
<link href="__PUBLIC__/assets/js/themes/default/style.min.css" rel="stylesheet">
{/block}

{block name="js"}
<script src="__PUBLIC__/assets/js/jstree.min.js"></script>
<script>
    $('#group-tree').jstree({
        'core': {
            'data': {$tree_data}
        },
        'plugins': ['checkbox']
    }).on("loaded.jstree", function (event, data) {
        //这两句化是在loaded所有的树节点后，然后做的选中操作，这点是需要注意的，loaded.jstree 这个函数
        //取消选中，然后选中某一个节点
        $("#group-tree").jstree("deselect_all",true);
        //$("#keyKamokuCd").val()是选中的节点id，然后后面的一个参数 true表示的是不触发默认select_node.change的事件
        $('#group-tree').jstree('select_node',$("#privilleges").val().split(','),true);
    });

    function submitForm() {
        var groups = $('#group-tree').jstree('get_selected');
        $('#privilleges').val(groups.join(','));
        $('#user-form').submit();
    }
</script>
{/block}